@import "tailwindcss";

/* Minimal gray scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.45) transparent;
}

/* Global custom scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(71 85 105) rgb(2 6 23);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(2 6 23); /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: rgb(71 85 105); /* slate-600 */
  border-radius: 999px;
  border: 2px solid rgb(2 6 23);
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100 116 139); /* slate-500 */
}

::-webkit-scrollbar-corner {
  background: rgb(2 6 23);
}


/* Admin modal custom scrollbar */
/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.45);
  border-radius: 999px;
  transition: background 0.2s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.65);
}


/* smooth Scroll - lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth
  [data-lenis-prevent] {
  overscroll-behavior: contain;
}